.aktuality-wrapper {
  .aktualita {
    margin: 2.5rem 0;
    padding: 2rem;
    background-color: rgba(250, 250, 250, 0.7);
    .tag-label {
      position: absolute;
      margin: -72px -32px;
      padding: 0.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      background-color: lighten($secondary, 20%);
      color: $white;
      letter-spacing: 3px;
    }
    .divider {
      margin: 1rem 0;
      .divider-inner {
        border-width: 1px;
        border-color: $primary;
      }
    }
  }
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 70%;
  }
  @media (min-width: 1200px) {
    width: 60%;
  }
}
.aktualita {
  -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  .aktualita-heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
.aktuality-home {
  //background-image: url("../img/wheat-polygon-full.jpg");
  //background-size: cover;
  .aktuality-wrapper{
    width: 100%;
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 100%;
    }
  }
}
.aktualita-info {
  display: inline-block;
  font-size: .8rem;
  text-transform: uppercase;
  &.date {
    &::before {
      padding-right: .3rem;
      content: "\f073";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $icon-color;
      white-space: pre;
    }
  }
  &.time {
    &::before {
      padding-right: .3rem;
      content: "\f017";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $icon-color;
      white-space: pre;
    }
  }
  &.location {
    &::before {
      padding-right: .3rem;
      content: "\f3c5";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $icon-color;
    }
  }
}

#aktualita-detail-heading {
  padding: 6rem 0 1rem;
  -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  @media (min-width: 468px) {
    padding: 6rem 0 2rem;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 300;
      //color: #212529;
    }
  }
  .divider {
    margin: 0;
    .divider-inner {
      border-color: $primary;
    }
  }
  .badge-horse-category {
    margin: .25rem;
    display: inline-block;
    padding: .5rem;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (min-width: 468px) {
      font-size: .8rem;
    }
  }
}
#aktualita-detail-content {
  .fb-event-wrapper {
    margin-top: 2rem;
    border-left: 5px solid $fb-color;
    padding-left: 1rem;
  }
  .aktualita-image, .aktualita-metadata, .aktualita-description {
    margin: 1rem 0;
  }
}
.paginationjs-big {
  margin: 0 auto;
}