// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  border: 2px solid $white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 300px;
  &:hover,
  &:focus,
  &:active {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: transparent;
  font-weight: 500;
  &:hover {
    border-color: $white !important;
    color: $primary;
    background-color: darken($secondary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
    border-color: $white !important;
    background-color: darken($secondary, 10%) !important;
    color: $primary !important;
  }
}
.btn-secondary {
  background-color: transparent;
  font-weight: 500;
  border-color: $secondary !important;
  color: $secondary !important;
  &:hover {
    background-color: darken($secondary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
    border-color: $white !important;
    background-color: darken($secondary, 10%) !important;
    color: $primary !important;
  }
}
.container-fluid {
  max-width: 1450px;
}
.nav-pills {
  .nav-link {
    color: darken($light-wheat, 20%);
    &.active, .nav-pills .show>.nav-link {
      color: white;
      background-color: darken($light-wheat, 20%);
    }
  }
}
.btn-login {
  background-color: transparent;
  font-weight: 500;
  border-color: black !important;
  color: black !important;
  &:hover {
    background-color: black !important;
    color: $white !important;
  }
  &:active,
  &:focus {
    background-color: black !important;
    color: $white !important;
  }
}