footer {
  padding: 2rem 0;
  background-color: rgba(110, 100, 97, 0.4);
  height: auto;
  h2 {
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 1rem;
    color: black;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .contact-options {
    margin: 15px -15px;
    .contact-option {
      @include transition-all;
      margin-top: 15px;
      color: $primary;
      a {
        color: $primary;
        text-decoration: none;
        &:hover span {
          color: $white;
        }
      }
      span {
        @include transition-all;
        color: $white;
        font-size: 1rem;
        padding-left: 10px;
        font-weight: 300;
        vertical-align: super;
      }
    }
  }
  .copyright {
    p {
      margin-left: auto;
      margin-right: auto;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
  .created-by {
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    a {
      color: $white;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

