.galerie {
  height: auto;
  h2{
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
  h3{
    font-size: 2rem;
    color: $icon-color;
    font-weight: 700;
    letter-spacing: 0;
  }
  .gallery {
    padding-top: 2rem;
  }
}