// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: darken($primary, 20%);
  @include transition-all;
  &:hover {
    color: darken($primary, 20%);
    text-decoration: underline;
    text-underline-position: under;
  }
  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: lighten($primary, 15%) !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}
.bg-grey {
  background-color: $maps-grey !important;
}
.bg-light-grey {
  background-color: $super-light-grey !important;
}
.bg-wheat {
  background-color: $light-wheat !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 4rem 0;
  &.section-top {
    padding-top: 6rem;
  }
}

.section-heading {
  text-align: center;
  padding-top: 1.5rem;
  .section-heading__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $secondary;
  }
  margin-top: 0;
  .divider {
    margin: 2rem 0;
    .divider-inner {
      max-width: 5rem;
    }
  }
}
.content-section-heading {
  text-align: center;
  h2 {
    font-size: 1.5rem;
    color: black;
    font-weight: 300!important;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
}
.divider {
  margin: 2rem 0;
  .divider-inner {
    border-width: 1px;
    border-color: $secondary;
  }
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.no-scroll {
  overflow: hidden;
}
.highlight {
  color: $primary;
}
.btn-with-icon {
  @include transition-all;
  border: 2px solid $white;
  .btn-label {
    @include transition-all;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid $white;
    color: white;
    font-weight: 500;
  }
  &:hover, &:focus, &:active {
    & .btn-icon {
      color: $primary;
    }
    & .btn-label {
      color: $primary;
    }
  }
  &.btn-green {
    &:hover, &:focus, &:active {
      & .btn-icon {
        color: $white;
      }
      & .btn-label {
        color: $white;
      }
    }
  }
  &.btn-rajce {
    border: 2px solid $secondary;
    .btn-label {
      border-left: 1px solid $secondary;
      color: #e61900 !important;
    }
    &:hover, &:focus, &:active {
      .btn-label {
        color: #e61900 !important;
      }
    }
  }
}
.btn-fb {
  .btn-icon {
    @include transition-all;
    color: $white;
  }
  &:hover, &:active, &:focus {
    & .btn-icon {
      color: $white;
    }
    & .btn-label {
      color: $white;
    }
  }
  &:hover, &:active {
    background-color: $fb-color;
  }
  &:focus {
    background-color: darken($fb-color, 10%) !important;
  }
  &.bg-fb {
    background-color: $fb-color;
    &:hover {
      background-color: darken($fb-color, 10%) !important;
    }
    &:focus, &:active {
      background-color: darken($fb-color, 15%) !important;
    }
  }
}
.btn-green {
  background-color: darken($icon-color, 10%);
  color: $white;
  font-weight: 500;
  &:hover, &:active, &:focus {
    color: $white !important;
  }
  &:hover, &:active {
    background-color: darken($icon-color, 20%) !important;
  }
  &:focus {
    background-color: darken($icon-color, 30%) !important;
  }
}
.btn-rajce {
  background-color: transparent;
  color: #e61900 !important;
  font-weight: 500;
  &:hover, &:active, &:focus {
  }
  &:hover, &:active {
    background-color: darken($white, 20%) !important;
  }
  &:focus {
    background-color: darken($white, 30%) !important;
  }
}

.heading-above-btn {
  padding: 0 0.5rem;
  font-size: .8rem;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  &.dark {
    color: $secondary;
    .highlight {
      color: darken($primary, 15%);
    }
  }
  @media (min-width: 576px){
    font-size: .9rem;
  }
  @media (min-width: 768px){
    font-size: 1rem;
  }
}

.btn-more {
  border: none !important;
  color: $icon-color !important;
  &:hover {
    color: darken($icon-color, 20%) !important;
  }
}
.rajce-link {
  &:hover {
    text-decoration: none !important;
  }
}
.rajce-net-img {
  @media (min-width: 992px) {
    &:hover + .rajce-title {
      margin-left: 5px;
      opacity: 1;
    }
  }
}
.rajce-title {
  @include transition-all;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  color: #e61900;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media (min-width: 992px) {
    margin-left: -5px;
    opacity: 0;
  }
  &:hover {
    margin-left: 5px;
    opacity: 1;
  }
}

.bg-img{
  min-height: 100%;
  position: relative;
  overflow: hidden;
  &::before{
    background-image: url("../img/background.jpg");
    -webkit-transform:translatez(0);
    background-size: cover;
    position: fixed;
    content: '';
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
  }
}

.bg-img-horse {
  background-image: url("../img/bg-horse.jpg");
  background-size: cover;
}
.bg-img-normal {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.bg-maps-grey {
  background-color: #f2f2f2 !important;
}

.box {
  margin: 2.5rem 0;
  padding: 2rem;
  background-color: rgba(250, 250, 250, 0.7);
  -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  .tag-label {
    position: absolute;
    margin: -72px -32px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: lighten($secondary, 20%);
    color: $white;
    letter-spacing: 3px;
  }
  .divider {
    margin: 1rem 0;
    .divider-inner {
      border-width: 1px;
      border-color: $primary;
    }
  }
  .box-content-year {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  ul  {
    list-style-type: none;
    padding:0 !important;
    li {
      margin: 1rem 1rem 1rem 2rem;
      &.trophy:before {
        content: "\f091";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $primary;
        white-space: pre;
        margin-left: -2rem;
        padding-right: .5rem;
      }
      &.flag:before {
        content: "\f11e ";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: black;
        white-space: pre;
        margin-left: -2rem;
        padding-right: .65rem;
      }
      a {
        color: black;
      }
    }
  }
}