.hala {
  background-color: #0c5460;
  height: auto;
  padding-bottom: 0;
  h3{
    font-size: 1rem;
    color: black;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .carousel-indicators {
    li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }
  .carousel-item {
    height: 65vh;
    max-height: 300px;
    min-height: unset;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media (min-width: 576px) {
      max-height: 400px;
    }
    @media (min-width: 768px) {
      min-height: 450px;
      max-height: unset;
    }
    @media (min-width: 992px) {
      min-height: 550px;
    }
  }
  .carousel-caption {
    p {
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}