// index
.kone {
  .accordion-box-wrapper {
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 70%;
    }
    @media (min-width: 1200px) {
      width: 60%;
    }
    .accordion-box {
      @include transition-all;
      margin: 2.5rem 0;
      padding: 1rem;
      background-color: rgba(250, 250, 250, 0.7);
      -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
      &:hover {
        background-color: lighten($light-gray, 3%);
      }
      @media (min-width: 576px) {
        padding: 2rem;
      }
      .accordion-box-title {
        text-align: center;
        cursor: pointer;
        .badge-horses-count {
          padding: .5rem;
          border: 1px solid black;
          background-color: transparent;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 500;
        }
      }
      .divider {
        margin: 1rem 0;
        .divider-inner {
          border-width: 1px;
          border-color: $primary;
        }
      }
      h2 {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }
      .card-horse {
        margin: 1rem 0;
        border: 1px solid $light-gray;
        .horse-info {
          text-align: center;
          margin: auto;
          @media (min-width: 576px) {
            margin: auto 0;
          }
          h3 {
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            @media (min-width: 576px) {
              text-align: left;
            }
          }
          .horse-image {
            img {
              width: 100px;
              @media (min-width: 576px) {
                width: auto;
              }
            }
          }
          .btn-more{
            padding-right: 0;
            padding-left: 0;
            @media (min-width: 576px) {
              text-align: left;
            }
          }
        }

        //ul {
        //  padding: 0;
        //  list-style: none;
        //  font-size: .8rem;
        //}
      }
    }
  }
}

// detail

#kun-detail-heading {
  padding: 6rem 0 1rem;
  -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  @media (min-width: 468px) {
    padding: 6rem 0 2rem;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 300;
      //color: #212529;
    }
  }
  .divider {
    margin: 0;
    .divider-inner {
      border-color: $primary;
    }
  }
  .badge-horse-category {
    margin: .25rem;
    display: inline-block;
    padding: .5rem;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (min-width: 468px) {
      font-size: .8rem;
    }
  }
}
#kun-detail-content {
  .kun {
    .kun-image {
    }
    .kun-bio {
      margin-top: 1rem;
      list-style-type: none;
      padding: 1.5rem;
      background-color: rgba(255,255,255,.4);
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: -34px;
        margin-left: -27.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 27.5px;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        transform: rotate(180deg);
        @media (min-width: 992px) {
          left: -9px;
          top: 72.5px;
          transform: rotate(90deg);
        }
      }
      .kun-bio-row {
        padding: .25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;
        font-weight: 700;
        @media (min-width: 576px) {
          font-size: 1rem;
        }
        span {
          font-weight: 300;
        }
      }
    }
  }
}

.img-square-thumbnail {
  cursor: pointer;
  margin: 1rem auto;
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
  @media (min-width: 576px) {
    width: 240px;
    height: 240px;
  }
  @media (min-width: 768px) {
    width: 210px;
    height: 210px;
  }
  @media (min-width: 992px) {
    width: 285px;
    height: 285px;
  }
  @media (min-width: 1200px) {
    width: 350px;
    height: 350px;
  }
  .img-square {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    &.portrait {
      width: 100%;
      height: auto;
    }
  }
}