.kontakt {
  height: auto;
  .contact-options-wrapper {
    padding: 2rem 0;
    .contact-option{
      &:hover .ikona-kontakt {
        transform: scale(1.1);
      }
      .ikona-kontakt {
        @include transition-all;
        color: $icon-color;
        &:hover, &:focus, &:active {
          outline: 0 !important;
          transform: scale(1.1);
          color: darken($icon-color, 10%);
        }
      }
      .ikona-kontakt-heading{
        font-size: .8rem;
        color: black;
        font-weight: 100;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media (min-width: 576px) {
          font-size: 1rem;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.kontakt-mapa {
  height: auto;
  padding: 0 0 !important;
  h2{
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
  h3{
    font-size: 1rem;
    color: black;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #map {
    width: 100%;
    height: 400px;
  }
  .info-window {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .info-content {
    color: #56ba7e;
  }
}

.contact-cards {
  margin: 4rem 0 2rem;
  justify-content: center;
  .card-person {
    margin: 0 auto;
    width: 250px;
    background-color: rgba(255,255,255,.4);
    -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    @media (min-width: 576px) {
      width: auto;
    }
    @media (min-width: 768px) {
      width: 250px;
    }
    @media (min-width: 1200px) {
      width: 500px;
    }
    .person-info {
      text-align: center;
      margin: auto;
      @media (min-width: 1200px) {
        margin: auto 0;
      }
      h3 {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        @media (min-width: 1200px) {
          text-align: left;
        }
      }
      p {
        font-size: .7rem;
        text-transform: uppercase;
        color: $gray-700;
        padding-right: 0;
        padding-left: 0;
        letter-spacing: 1px;
        @media (min-width: 1200px) {
          text-align: left;
        }
      }
      .person-image {
        img {
          width: 100px;
          @media (min-width: 1200px) {
            width: auto;
          }
        }
      }
    }
  }
}



.kontakt-mapa-homepage {
  height: auto;
  padding: 4rem 0 0 !important;
  h2{
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 80%;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
  h3{
    font-size: 1rem;
    color: black;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #map {
    width: 100%;
    height: 400px;
  }
  .info-window {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .info-content {
    color: #56ba7e;
  }
}
