// Styling for the navbar
#mainNav {
  border-bottom: 0.5px solid fade-out($primary, .1);
  background-color: fade-out($secondary, .05);
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;
    &:focus, &:active{
      outline: 0;
    }
    &:hover {
      background: transparent !important;
    }
    .icon-bar {
      @include transition-all;
      display: block;
      background-color: $white;
      height: 1px;
      width: 25px;
      margin-top: 6px;
      margin-bottom: 6px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      left: 0;
      opacity: 1;
      &.top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      &.middle-bar {
        opacity: 0;
      }
      &.bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
  .navbar-collapse {
    max-height: 90vh;
    overflow-y: auto;
  }
  .navbar-nav {
    max-height: 80vh;
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
        &:hover {
          color: $primary;
        }
        &.active-link {
          color: wheat;
          border-bottom: 1px solid transparent;
          background-color: transparent;
          &:hover {
            color: wheat;
            border-bottom: 1px solid transparent;
            background-color: transparent;
          }
        }
         &.fb {
           &:hover {
             color: wheat;
             border-bottom: 1px solid transparent;
           }
         }
      }

    }
  }
  @media (min-width: 992px) {
    padding: 1rem 1rem;
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: $white;
      &:focus,
      &:hover {
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      @include transition-all;
      padding: 0.25rem 0.55rem;
      border-bottom: 1px solid transparent;
      font-weight: 500 !important;
      letter-spacing: 1px !important;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $white;
      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
    &.navbar-shrink {
      padding: 0.5rem 1rem;
      border-bottom: 0.5px solid fade-out($primary, .1);
      background-color: fade-out($secondary, .1);
      .navbar-brand {
        color: $white;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $white;
        &:hover {
          color: $white;
        }
        &.active-link {
          color: wheat;
          border-bottom: 1px solid transparent;
          background-color: transparent;
          &:hover {
            color: wheat;
            border-bottom: 1px solid wheat;
            background-color: transparent;
          }
        }
        &.fb {
          @include transition-all;
          &:hover {
            color: wheat;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}