.carousel-inner {
  .carousel-item {
    height: 100%;
    min-height: 100vh;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    .header__main {
      text-align: center;
      font-size: 2rem;
      color: $white;
      font-weight: 700;
      padding: 0 3rem;
    }
    .header__minor {
      text-align: center;
      font-size: 1.5rem;
      color: $white;
      padding: 0 3rem;
    }
    .slider-btn-wrapper {
      margin-top: 10vh;
    }
    @media (min-width: 468px) {
      .header__main {
        font-size: 3rem;
      }
      .header__minor {
        font-size: 2rem;
      }
    }
    @media (min-width: 992px) {
      .header__main {
        font-size: 4rem;
        text-align: left;
      }
      .header__minor {
        font-size: 3rem;
        text-align: right;
      }
    }
    @media (min-width: 1200px) {
      .header__main {
        font-size: 4.5rem;
      }
    }
  }

  .divider {
    margin: 2rem 0;
    .divider-inner {
      width: 80%;
      border-width: 1px;
      border-color: $primary;
      @media (min-width: 992px) {
        width: 90%;
      }
    }
    @media (min-width: 1200px) {
      margin: 2.5rem 0;
    }
  }

  .header-heading {
    padding: 6rem 0;
    height: 100%;
    min-height: 100vh;
  }
}

.carousel-control-prev, .carousel-control-next {
  .arrow {
    width: 20px;
    height: 20px;
    border-color: #000;
    display: inline-block;
    border-bottom: 1px solid;
    border-left: 1px solid;
    @include transition-all;
    &:hover {
      border-color: #ccc;
    }
    &.left {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.right {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
    }
  }
  @media (min-width: 992px) {
    width: 10%;
  }
}