.sluzby {
  height: auto;
}
.card-deck {
  @media (max-width: 767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card {
    margin: 0 auto 2rem;
    max-width: 350px;
    border: none;
    -webkit-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 30px -7px rgba(0, 0, 0, 0.5);
    @media (min-width: 576px) {
      margin: 0 auto 2rem;
    }
    @media (min-width: 768px) {
      max-width: 210px;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
    @media (min-width: 992px) {
      max-width: 290px;
    }
    @media (min-width: 1200px) {
      max-width: 350px;
    }
    .card-body {
      .card-title {
        font-size: 1rem;
        color: black;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      .card-text {
        font-weight: 100;
      }
      .divider {
        margin: 1rem 0;
        .divider-inner {
          border-width: 1px;
          border-color: $primary;
        }
      }
    }
  }
}