.treneri{
  height: auto;
  .qualities-wrapper {
    padding: 3rem 0;
    .ikona-treneri {
      @include transition-all;
      color: $icon-color;
      &:hover, &:focus, &:active {
        outline: 0 !important;
        transform: scale(1.1);
        color: darken($icon-color, 10%);
      }
    }
    .ikona-treneri-heading{
      font-size: 1rem;
      color: black;
      font-weight: 100;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}
.trener-bio {
  padding: 2rem;
  background-color: rgba(255,255,255,.4);
  h3 {
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: none;
    margin: 0 auto;
    @media (min-width: 468px) {
      font-size: 2rem;
    }
  }
  p {
    text-align: justify;
  }
}
