.uspechy-years {
  padding: 0 1rem;
  max-width: 300px;
  margin: 0 auto;
  .nav-item {
    margin: 0 auto;
  }
}
.uspechy-ranking-heading {
  //background: url("../../web/img/polygon-full.jpg");
  //background-size: cover;
  padding: 2rem 0;
  color: $secondary;
  h1 {
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    font-size: 2rem;
  }
  @media (min-width: 468px) {
    h1 {
      font-size: 3rem;
    }
  }
  .trophy {
    padding-top: 5rem;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      margin: -78px 107px;
      height: 4rem;
      width: 4rem;
      background-image: url("../img/uspechy/trophy.png");
      background-size: 4rem;
      background-repeat: no-repeat;
    }
  }
  .gold-medal {
    padding-top: 5rem;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      margin: -78px 32px;
      height: 4rem;
      width: 4rem;
      background-image: url("../img/uspechy/gold-medal.png");
      background-size: 4rem;
      background-repeat: no-repeat;
    }
  }
  .silver-medal {
    padding-top: 5rem;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      margin: -78px 32px;
      height: 4rem;
      width: 4rem;
      background-image: url("../img/uspechy/silver-medal.png");
      background-size: 4rem;
      background-repeat: no-repeat;
    }
  }
  .bronze-medal {
    padding-top: 5rem;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      margin: -78px 32px;
      height: 4rem;
      width: 4rem;
      background-image: url("../img/uspechy/bronze-medal.png");
      background-size: 4rem;
      background-repeat: no-repeat;
    }
  }
  .other-places {
    font-weight: 700;
  }
}
.uspechy-ranking {
  margin: 1rem 0;
  background: rgba(255, 255, 255, .4);
}
.table {
  .thead-green {
    th {
      color: $icon-color;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: .8rem;
    }
  }
  td {
    font-size: .8rem;
    a {
      color: black;
      &:hover, &:focus, &:active {
        text-decoration: none !important;
      }
    }
  }
  @media (min-width: 468px) {
    table-layout: fixed;
  }
}