// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$fb-color: #3b5998;
$icon-color: #56ba7e;
$light-wheat: #efe4d0;
$light-gray: #f5f5f5;
$super-light-grey: #f8f8f8;
$maps-grey: #f2f2f2;

$primary: wheat;
$secondary: #5f5450;
