{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - opavská rodinná stáj{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
    <header>
        <div id="homepage-slider" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item first-slide active" style="background-image: url('{{ asset('img/slider/slide-1.jpg') }}')">
                    <div class="header-heading d-flex">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="header__main">Jsme <span class="highlight">rodinná stáj</span>.</h1>
                                        <div class="divider">
                                            <hr class="divider-inner">
                                        </div>
                                    <h2 class="header__minor">Sídlíme na okraji Opavy.</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mx-auto text-center slider-btn-wrapper btn-animate-wrapper">
                                    <p class="heading-above-btn">Najdete nás i na <span class="highlight">facebooku</span>.</p>
                                    <a href="https://www.facebook.com/rancnapomezi/" target="_blank" class="btn btn-xl btn-with-icon btn-fb"><i class="fab fa-facebook-f fa-lg btn-icon"></i><span class="btn-label">Ranč na pomezí</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item second-slide" style="background-image: url('{{ asset('img/slider/slide-2.jpg') }}')">
                    <div class="header-heading d-flex">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="header__main">Naše <span class="highlight">nová hala</span>.</h2>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <h3 class="header__minor">K dispozici pro Vaše aktivity.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mx-auto text-center slider-btn-wrapper">
                                    <p class="heading-above-btn">Zjistěte další <span class="highlight">informace</span>.</p>
                                    <a href="{{ path('hala') }}" class="btn btn-xl btn-with-icon btn-primary"><i class="fas fa-info fa-lg btn-icon"></i><span class="btn-label">Více o hale</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item third-slide" style="background-image: url('{{ asset('img/slider/slide-3.jpg') }}')">
                    <div class="header-heading d-flex">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="header__main">Nabízíme <span class="highlight">řadu služeb</span>.</h2>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <h3 class="header__minor">Připouštění, výcvik koní i jezdců.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mx-auto text-center slider-btn-wrapper">
                                    <p class="heading-above-btn">Prohlédněte si naše <span class="highlight">služby</span>.</p>
                                    <a href="{{ path('sluzby') }}" class="btn btn-xl btn-with-icon btn-primary"><i class="fas fa-info fa-lg btn-icon"></i><span class="btn-label">Nabídka služeb</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#homepage-slider" role="button" data-slide="prev">
                <span class="left arrow"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#homepage-slider" role="button" data-slide="next">
                <span class="right arrow"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <section class="aktuality-home bg-img-normal" id="aktuality">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="section-heading__text">Co je u nás nového</h2>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="aktuality-wrapper mx-md-auto">
                <div class="row">
                {% for new in news %}
                    <div class="col-12 col-lg-6">
                        <div class="aktualita">
                            <div class="tag-label">{{ new.category.name }}</div>
                            <div>
                                <div class="aktualita-content">
                                    <h3 class="aktualita-heading">{{ new.title }}</h3>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <div class="aktualita-metadata mt-2 mb-2">
                                        <div class="aktualita-info date pr-2">{{ new.date|date('d.m.Y') }}</div>
                                        <div class="aktualita-info time pr-2">{{ new.date|date('H:i') }}</div>
                                        <div class="aktualita-info location pr-2">{{ new.place }}</div>
                                    </div>
                                    <p class="aktualita-description">{{ new.description }}</p>
                                </div>
                                <div class="aktuality-buttons text-right">
                                    <a href="{{ path('aktuality_detail', {'slug': new.slug }) }}" class="btn btn-more">Více <i class="fas fa-arrow-right fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mx-auto text-center slider-btn-wrapper">
                    <p class="heading-above-btn dark">Chystáme toho mnohem více.</p>
                    <a href="{{ path('aktuality') }}" class="btn btn-xl btn-with-icon btn-green">Všechny aktuality</a>
                </div>
            </div>
        </div>
    </section>
    <section class="sluzby text-center bg-light-grey" id="sluzby">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="section-heading__text">Jaké služby nabízíme</h2>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/pripousteni-koni.jpg') }}" alt="Připouštění koní">
                        <div class="card-body">
                            <h3 class="card-title">Připouštění koní</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Na našem ranči nabízíme připouštění plemenným hřebcem <a href="{{ path('kone_detail', {'slug': 'sk-whizchic'}) }}">SK Whizchic</a>. Možnosti připouštění jsou skokem, inseminační dávkou, nebo dávkou mraženou. Podrobnosti o hřebci najdete v sekci koně.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/vycvik-jezdcu.jpg') }}" alt="Výcvik jezdců">
                        <div class="card-body">
                            <h3 class="card-title">Výcvik jezdců</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Výcvik jezdců probíhá celoročně v nově vybudované hale pod vedením zkušeného instruktora. Výuka je zaměřena na westernové ježdění, kterou individuálně přizpůsobujeme jezdeckým dovednostem klienta.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/vycvik-koni.jpg') }}" alt="Výcvik koní">
                        <div class="card-body">
                            <h3 class="card-title">Výcvik koní</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Rádi Vám poradíme a pomůžeme s výcvikem Vašeho koně. Zaměřujeme se na práci s koněm metodou přirozené komunikace, obsedání mladých koní a přiježděnost koní ve westernovém stylu. Při těchto činnostech nám záleží na spokojenosti koně i jezdce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mx-auto text-center slider-btn-wrapper pt-5">
                    <p class="heading-above-btn dark">Další služby, které Vám můžeme poskytnout.</p>
                    <a href="{{ path('sluzby') }}" class="btn btn-xl btn-with-icon btn-green">Všechny služby</a>
                </div>
            </div>
        </div>
    </section>
    <section class="kontakt-mapa-homepage text-center bg-grey" id="kontakt-mapa-homepage">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="section-heading__text">Kde nás najdete</h2>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
        </div>
        <div id="map">
        </div>
    </section>
    <section class="sponzori-homepage" id="sponzori-homepage">
        <div class="container center-block">
            <div class="row">
                <div class="col-xs-12 mx-auto text-center">
                    <img src="{{ asset('img/sponzori/msk_logo.png') }}" class="d-inline-block" width="300" alt="Moravskoslezský kraj">
                    <img src="{{ asset('img/sponzori/opava_logo.png') }}" class="d-inline-block" width="185" alt="Opava">
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp2fE4OnnTKZxqposJtAzaG_Bcr6F-M9o"></script>
    <script src="{{ asset('js/map.js') }}"></script>
    <script>
        $( document ).ready(function () {
            $('.slider-btn-wrapper').hover(function () {
                $('.carousel').carousel('pause')
            }, function () {
                $('.carousel').carousel('cycle')
            })
        })
    </script>
{% endblock %}
