{% extends '::base.html.twig' %}
{% block title %}Úspěchy - {{ parent() }}{% endblock %}
{% block content %}
    <section class="bg-img section-top">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">Úspěchy</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="row uspechy-years mt-4">
                <ul class="nav nav-pills mx-auto mb-3" id="pills-tab" role="tablist">
                    {% for year, categories in yearsOnAchievement %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="pills-uspechy-{{ year }}-tab" data-toggle="pill" href="#uspechy-{{ year }}" role="tab" aria-controls="uspechy-{{ year }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ year }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                {% for year, categories in yearsOnAchievement %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="uspechy-{{ year }}" role="tabpanel" aria-labelledby="pills-uspechy-{{ year }}-tab">
                    {% for category, achievements in categories %}
                        {% if category == 'Speciální' and achievements is not empty %}
                    <div class="uspechy-ranking">
                        <div class="row uspechy-ranking-heading">
                            <div class="col-12 text-center">
                                <h2 class="trophy mb-0">Speciální ocenění</h2>
                            </div>
                        </div>
                        <div class="uspechy-table table-responsive col-12">
                            <table class="table mx-auto text-center">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Ocenění</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Kůň</th>
                                    <th scope="col">Jezdec</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for achievement in achievements %}
                                <tr>
                                    <td>{{ achievement.race }}</td>
                                    <td>{{ achievement.category }}</td>
                                    <td>
                                        <a href="{{ path('kone_detail', {'slug': achievement.horse.slug }) }}">{{ achievement.horse.name }}</a>
                                    </td>
                                    <td>{% if achievement.awardDriver %}{{ achievement.awardDriver }}{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == '1. místo' and achievements is not empty %}
                    <div class="uspechy-ranking">
                        <div class="row uspechy-ranking-heading">
                            <div class="col-12 text-center">
                                <h2 class="gold-medal">1. místa</h2>
                            </div>
                        </div>
                        <div class="uspechy-table table-responsive col-12">
                            <table class="table mx-auto text-center">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Závod</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Kůň</th>
                                    <th scope="col">Jezdec</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for achievement in achievements %}
                                <tr>
                                    <td>{{ achievement.race }}</td>
                                    <td>{{ achievement.category }}</td>
                                    <td>
                                        <a href="{{ path('kone_detail', {'slug': achievement.horse.slug }) }}">{{ achievement.horse.name }}</a>
                                    </td>
                                    <td>{% if achievement.awardDriver %}{{ achievement.awardDriver }}{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == '2. místo' and achievements is not empty %}
                    <div class="uspechy-ranking">
                        <div class="row uspechy-ranking-heading">
                            <div class="col-12 text-center">
                                <h2 class="silver-medal">2. místa</h2>
                            </div>
                        </div>
                        <div class="uspechy-table table-responsive col-12">
                            <table class="table mx-auto text-center">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Závod</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Kůň</th>
                                    <th scope="col">Jezdec</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for achievement in achievements %}
                                <tr>
                                    <td>{{ achievement.race }}</td>
                                    <td>{{ achievement.category }}</td>
                                    <td>
                                        <a href="{{ path('kone_detail', {'slug': achievement.horse.slug }) }}">{{ achievement.horse.name }}</a>
                                    </td>
                                    <td>{% if achievement.awardDriver %}{{ achievement.awardDriver }}{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == '3. místo' and achievements is not empty %}
                    <div class="uspechy-ranking">
                        <div class="row uspechy-ranking-heading">
                            <div class="col-12 text-center">
                                <h2 class="bronze-medal">3. místa</h2>
                            </div>
                        </div>
                        <div class="uspechy-table table-responsive col-12">
                            <table class="table mx-auto text-center">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Závod</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Kůň</th>
                                    <th scope="col">Jezdec</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for achievement in achievements %}
                                <tr>
                                    <td>{{ achievement.race }}</td>
                                    <td>{{ achievement.category }}</td>
                                    <td>
                                        <a href="{{ path('kone_detail', {'slug': achievement.horse.slug }) }}">{{ achievement.horse.name }}</a>
                                    </td>
                                    <td>{% if achievement.awardDriver %}{{ achievement.awardDriver }}{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                        {% if category == 'ostatní' and achievements is not empty %}
                    <div class="uspechy-ranking">
                        <div class="row uspechy-ranking-heading">
                            <div class="col-12 text-center">
                                <h2 class="other-places">Další umístění</h2>
                            </div>
                        </div>
                        <div class="uspechy-table table-responsive col-12">
                            <table class="table mx-auto text-center">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Umístění</th>
                                    <th scope="col">Závod</th>
                                    <th scope="col">Kategorie</th>
                                    <th scope="col">Kůň</th>
                                    <th scope="col">Jezdec</th>
                                </tr>
                                </thead>
                                <tbody>
                            {% for achievement in achievements %}
                                <tr>
                                    <td>{{ achievement.achievementCategory.name }}</td>
                                    <td>{{ achievement.race }}</td>
                                    <td>{{ achievement.category }}</td>
                                    <td>
                                        <a href="{{ path('kone_detail', {'slug': achievement.horse.slug }) }}">{{ achievement.horse.name }}</a>
                                    </td>
                                    <td>{% if achievement.awardDriver %}{{ achievement.awardDriver }}{% else %}-{% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}