{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120965519-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120965519-1');
        </script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Rodinná stáj zabývající se výukou jezdců a koní westernového stylu ježdění, hipoterapií a chovem koní. Ranč Na Pomezí sídlí od roku 2009 na okraji města Opavy.">
        <meta property="og:site_name" content="Ranč Na Pomezí - opavská rodinná stáj" />
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/ranc-na-pomezi.png') }}"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.rancnapomezi.cz" />
        <meta property="og:title" content="Ranč Na Pomezí - opavská rodinná stáj" />
        <meta property="og:description" content="Jsme rodinná stáj zabývající se výukou jezdců a koní westernového stylu ježdění, hipoterapií a chovem koní. Náš ranč sídlí od roku 2009 na okraji města Opavy." />
        <title>{% block title %}Ranč Na Pomezí{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#616161">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script src="{{ asset('js/cookiesconsent-init.js') }}"></script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top {{ route != 'homepage' ? 'navbar-shrink' }}" id="mainNav" data-route="{{ route }}">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">
                    <img src="{{ asset('img/ranc-na-pomezi-text-only.png') }}" class="d-inline-block" width="185" alt="Ranč Na Pomezí - logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route starts with 'o-nas' ? 'active-link' }}" href="{{ path('o-nas') }}">O nás</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route starts with 'aktuality' ? 'active-link' }}" href="{{ path('aktuality') }}">Aktuality</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'sluzby' ? 'active-link' }}" href="{{ path('sluzby') }}">Služby</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route starts with  'kone' ? 'active-link' }}" href="{{ path('kone') }}">Koně</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'treneri' ? 'active-link' }}" href="{{ path('treneri') }}">Trenéři</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'uspechy' ? 'active-link' }}" href="{{ path('uspechy') }}">Úspěchy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'hala' ? 'active-link' }}" href="{{ path('hala') }}">Hala</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'galerie' ? 'active-link' }}" href="{{ path('galerie') }}">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger {{ route ==  'kontakt' ? 'active-link' }}" href="{{ path('kontakt') }}">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" class="nav-link js-scroll-trigger fb" href="https://www.facebook.com/rancnapomezi/"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row contact-options">
                        <div class="col-md-6 ml-auto text-center contact-option">
                            <a href="tel:+420602726522"><i class="fas fa-phone fa-2x"></i><span>+420 602 726 522</span></a>
                        </div>
                        <div class="col-md-6 mr-auto text-center contact-option">
                            <a href="mailto:&#114;&#97;&#110;&#99;&#110;&#97;&#112;&#111;&#109;&#101;&#122;&#105;&#64;&#115;&#101;&#122;&#110;&#97;&#109;&#46;&#99;&#122;"><i class="fas fa-envelope fa-2x"></i><span>&#114;&#97;&#110;&#99;&#110;&#97;&#112;&#111;&#109;&#101;&#122;&#105;&#64;&#115;&#101;&#122;&#110;&#97;&#109;&#46;&#99;&#122;</span></a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <p class="text-center">&copy; 2018 Ranč Na Pomezí</p>
                    </div>
                    <div class="row created-by">
                        <p class="text-center">
                            Vytvořili <a href="http://www.drici.eu/">Dříči <img src="{{ asset('img/drici-logo.png') }}" width="25" class="d-inline-block align-self-auto" alt="Dříči"></a>
                        </p>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% endblock %}
        {% block javascriptsCustom %}
            <script src="{{ asset('js/scrollreveal.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
