{% extends '@Admin/base.html.twig' %}
{% form_theme form _self %}
{% block _horse_horsePhotos_entry_widget  %}
    {% spaceless %}
        <div class="row" id="photo_{{ form.vars.id }}">
            <div class="form-group col-xs-6">
                {{ form_row(form.file) }}
            </div>
            <div class="form-group col-xs-6" style="margin-top: 20px;">
                {% if (form.vars.value)  %}
                    <button onclick="deletePhoto(this)" id="button" data-delete="#photo_{{ form.vars.id }}" data-delete-file-name="#photoName_{{ form.vars.id }}" data-photo='{"photoId": "{{ form.vars.value.id }}"}' type="button" class="btn btn-danger">Smazat</button>
                {% else %}
                    <button onclick="deletePhoto(this)" type="button" data-delete="#photo_{{ form.vars.id }}" class="btn btn-danger">Smazat</button>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <span>Kůň</span>
                <a data-toggle="tooltip" data-placement="right" title="Zpět na seznam" id="upIcon" href="{{ path('admin_horse_index') }}">
                    <i class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form, { 'attr': {'class': ''} }) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_row(form.horseCategory) }}
                    {{ form_row(form.sports) }}
                    {{ form_row(form.horseSale) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.birthDate) }}
                    {{ form_row(form.father) }}
                    {{ form_row(form.mother) }}
                    {{ form_row(form.birthPlace) }}
                    {{ form_row(form.sexCategory) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.children) }}
                    {{ form_row(form.comment) }}
                    {{ form_row(form.harnessingTax) }}
                    {{ form_row(form.harnessings) }}
                    {{ form_row(form.owner) }}
                    {% if app.request.attributes.get('_route') == 'admin_horse_edit' %}
                        {{ oldFamilyTree }}
                    {% endif %}
                    {{ form_row(form.familyTree) }}
	                {% if app.request.attributes.get('_route') == 'admin_horse_edit' %}
		                {{ oldMainPhoto }}
	                {% endif %}
	                {{ form_row(form.mainPhoto) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.horsePhotos) }}
                    <div id="substituteHolder" data-prototype="{{ form_widget(form.horsePhotos.vars.prototype)|e('html_attr') }}">
                        {% for key, photo in form.horsePhotos %}
                            <span id="photoName_{{ photo.vars.id }}">
                                {{ oldHorsePhotos[key].fileName }}
                            </span>
                            {{ form_widget(photo) }}
                        {% endfor %}
                        <button id="addPhoto" class="btn btn-success btn-sm">Přidat fotku</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success btn-lg" type="submit">Uložit</button>
            </div>
            <span style="display: none;">
            {{ form_rest(form) }}
                </span>
            {{ form_end(form) }}
            <div style="margin-bottom: 20px"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $('#addPhoto').click(function (event) {
        event.preventDefault();
        var $collectionHolder = $(this).parent();
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        $collectionHolder.data('index', index + 1);
        index = $collectionHolder.data('index');
        var $newForm = prototype.replace(/___photo___/g, ($collectionHolder.children().length));
        $(this).before($newForm);
        return false;
    });
</script>
<script>
    function deletePhoto(element) {
        if (confirm('Opravdu to chcete smazat?')) {
            var $element = $(element);
            var photo = $element.data('photo');
            if (photo){
                $.post('{{path('admin_horse_photo_delete' )}}',
                    {data: photo},
                    function(response){
                        if(response.code === 200 && response.success){
                            $($element.data('delete')).remove();
                            $($element.data('delete-file-name')).remove();
                        }
                        else{
                            alert('Fotku se nepodařilo odstranit');
                        }
                    }, "json");
            }
            else {
                $($element.data('delete')).remove();
            }
        }
    }
</script>
{% endblock %}