{% extends '@Admin/base.html.twig' %}
{% block stylesheets %}
    <style>
        .info-header{
            padding-bottom: 30px;
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Seznam koní</h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            <div class="row text-bold info-header">
                <div class="col-xs-1">
                    Název
                </div>
                <div class="col-xs-1">
                    Kategorie
                </div>
                <div class="col-xs-1">
                    Datum nazození
                </div>
                <div class="col-xs-1">
                    Matka
                </div>
                <div class="col-xs-1">
                    Otec
                </div>
                <div class="col-xs-1">
                    Barva
                </div>
                <div class="col-xs-1">
                    Potomci
                </div>
                <div class="col-xs-1">
                    Hlavní foto
                </div>
                <div class="col-xs-1">
                    Rodokmen
                </div>
                <div class="col-xs-2">
                    Fotky
                </div>
                <div class="col-xs-1">
                    Akce
                </div>
            </div>
            {% for horse in horses %}
                <div class="row">
                    <div class="form-group col-xs-1">
                        {{ horse.name }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.horseCategory.name }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.birthDate|date('d.m.Y') }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.mother }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.father }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.color }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ horse.children }}
                    </div>
                    <div class="form-group col-xs-1">
                        <img src="{{ asset( 'uploads/horse/' ~ horse.mainPhoto) }}" height="42" width="42">
                    </div>
                    <div class="form-group col-xs-1">
                        <img src="{{ asset( 'uploads/horse/' ~ horse.familyTree) }}" height="42" width="42">
                    </div>
                    <div class="form-group col-md-2">
                        {% for photo in horse.horsePhotos %}
                            <img src="{{ asset( 'uploads/horse/' ~ photo.file) }}" height="42" width="42">
                        {% endfor %}
                    </div>
                    <div class="col-xs-1">
                        <a class="btn btn-default btn-sm" href="{{ path('admin_horse_edit',  {'id': horse.id}) }}"><span class="glyphicon glyphicon-edit"></span>Editovat</a>
                        <a class="btn btn-default btn-sm" href="{{ path('admin_horse_delete',  {'id': horse.id}) }}"><span class="glyphicon glyphicon-remove"></span>Odstranit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
