{% extends '@SbSAdminLTE/Layout/base.html.twig' %}
{% block title %}Administrace - Ranč Na Pomezí{% endblock %}
{% block admin_lte_header %}
    <header class="main-header">
        {% block admin_lte_logo %}
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b></span>
                <span class="logo-lg"><b>Admin</b></span>
            </a>
        {% endblock %}
        <nav class="navbar navbar-static-top" role="navigation">
            {{ sidebar_toggle_button() }}
            {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">{{ app.user.username }}</span>
                            </a>
                            <div class="dropdown-menu pull-right" style="width: auto; min-width: auto">
                                <a href="{{ logout_path() }}" class="btn btn-default btn-flat">Odhlásit se</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
    </header>
{% endblock %}
{% block content %}
    <section class="content-header">
        {% block header_content %}
        {% endblock %}
        {% block admin_lte_breadcrumb %}{% endblock %}
    </section>
    <section class="content">
        {{ include("SbSAdminLTEBundle:Layout:flash_message.html.twig") }}
        {% block page_content %}{% endblock %}
    </section>
{% endblock %}
{% block admin_lte_footer %}
{% endblock %}