{% extends '::base.html.twig' %}
{% block title %}Služby - {{ parent() }}{% endblock %}
{% block content %}
    <section class="sluzby section-top text-center bg-img">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">Služby</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="content-section-heading">
                <h2>Nabízíme Vám uvedené služby.</h2>
            </div>
            <div class="card-deck pt-5">
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/pripousteni-koni.jpg') }}" alt="Připouštění koní">
                        <div class="card-body">
                            <h3 class="card-title">Připouštění koní</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Na našem ranči nabízíme připouštění plemenným hřebcem <a href="{{ path('kone_detail', {'slug': 'sk-whizchic'}) }}">SK Whizchic</a>. Možnosti připouštění jsou skokem, inseminační dávkou, nebo dávkou mraženou.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/vycvik-jezdcu.jpg') }}" alt="Výcvik jezdců">
                        <div class="card-body">
                            <h3 class="card-title">Výcvik jezdců</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Výcvik jezdců probíhá celoročně v nově vybudované hale pod vedením zkušeného instruktora. Výuka je zaměřena na westernové ježdění, kterou individuálně přizpůsobujeme jezdeckým dovednostem klienta.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/vycvik-koni.jpg') }}" alt="Výcvik koní">
                        <div class="card-body">
                            <h3 class="card-title">Výcvik koní</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Rádi Vám poradíme a pomůžeme s výcvikem Vašeho koně. Zaměřujeme se na přiježděnost koní ve westernovém stylu. Při těchto činnostech nám záleží na spokojenosti koně i jezdce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-md-5">
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/pronajem-haly.jpg') }}" alt="Pronájem haly">
                        <div class="card-body">
                            <h3 class="card-title">Pronájem haly</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Hala o rozměrech 30 x 60 metrů je osvětlená i ozvučená. Povrchem je písek, který je vhodný nejen pro jezdectví, ale i jiné sportovní aktivity. Více informací a fotografií naleznete v samostatné sekci&nbsp;<a href="{{ path('hala') }}">Hala</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/hipoterapie.jpg') }}" alt="Hipoterapie">
                        <div class="card-body">
                            <h3 class="card-title">Hipoterapie</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Hipoterapie je rehabilitace na koňském hřbetu. Již několikátým rokem spolupracujeme s místními školami a vozíme handicapované děti na našich koních. Vodění probíhá u nás v areálu, ale jsme ochotni dojet i na domluvené místo.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/chov-koni-american-quarter-horse.jpg') }}" alt="Chov koní American Quarter Horse">
                        <div class="card-body">
                            <h3 class="card-title">Chov koní American Quarter Horse</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Chovem koní se úspěšně zabýváme již řadu let. Koně z našeho chovu úspěšně konkurují jiným koním a odváží si různá národní ocenění (mistrovské tituly, tituly Koně roku).</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck pt-md-5">
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/pronajem-klubovny.jpg') }}" alt="Pronájem klubovny">
                        <div class="card-body">
                            <h3 class="card-title">Pronájem klubovny</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Nabízíme možnost pronajmout si naši klubovnu pro Vaše soukromé akce.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/vycvik-jezdcu.jpg') }}" alt="Jiné služby">
                        <div class="card-body">
                            <h3 class="card-title">Farmářský kroužek</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">Farmářský kroužek je určený pro všechny děti, které milují koníky. Náplní kroužku je především péče o koně. Děti se naučí koně vodit, čistit, zaplétat hřívu a ocas, budeme koníky krmit a také se každý povozí. Děti získají také mnoho teoretických znalostí v této oblasti.
                                Kroužek bude probíhat pravidelně každou středu, nebo čtvrtek (dle výběru dne) od 15:30 do 17:00 hod. Cena 1500 Kč/měsíc.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="h-100">
                        <img class="card-img-top" src="{{ asset('img/sluzby/jine-sluzby.jpg') }}" alt="Jiné služby">
                        <div class="card-body">
                            <h3 class="card-title">Jiné služby</h3>
                            <div class="divider">
                                <hr class="divider-inner">
                            </div>
                            <p class="card-text">V rámci spolku Ranč Na Pomezí Opava, z.s. pořádáme velké množství akci - hobby závody, příměstské tábory, speciální aktivity pro členy spolku.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
{% endblock %}

