{% extends '@Admin/base.html.twig' %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <span>Úspěch</span>
                <a data-toggle="tooltip" data-placement="right" title="Zpět na seznam" id="upIcon" href="{{ path('admin_achievement_index') }}">
                    <i class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form, { 'attr': {'class': ''} }) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_row(form.date) }}
                    {{ form_row(form.achievementCategory) }}
                    {{ form_row(form.race) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.horse) }}
                    {{ form_row(form.awardDriver) }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success btn-lg" type="submit">Uložit</button>
            </div>
            <span style="display: none;">
            {{ form_rest(form) }}
                </span>
            {{ form_end(form) }}
            <div style="margin-bottom: 20px"></div>
        </div>
    </div>
{% endblock %}
