{% extends '@Admin/base.html.twig' %}
{% block stylesheets %}
    <style>
        .info-header{
            padding-bottom: 30px;
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Seznam úspěchů</h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            <div class="row text-bold info-header">
                <div class="col-xs-1">
                    Kůň
                </div>
                <div class="col-xs-1">
                    Rok
                </div>
                <div class="col-xs-2">
                    Pořadí
                </div>
                <div class="col-xs-2">
                    Kategorie
                </div>
                <div class="col-xs-2">
                    Jezdec
                </div>
                <div class="col-xs-2">
                    Závod
                </div>
                <div class="col-xs-2">
                    Akce
                </div>
            </div>
            {% for achievement in achievements %}
                <div class="row">
                    <div class="form-group col-xs-1">
                        {{ achievement.horse.name }}
                    </div>
                    <div class="form-group col-xs-1">
                        {{ achievement.date|date('Y') }}
                    </div>
                    <div class="form-group col-xs-2">
                        {{ achievement.achievementCategory.name }}
                    </div>
                    <div class="form-group col-xs-2">
                        {{ achievement.category }}
                    </div>
                    <div class="form-group col-xs-2">
                        {{ achievement.awardDriver }}
                    </div>
                    <div class="form-group col-xs-2">
                        {{ achievement.race }}
                    </div>
                    <div class="form-group col-xs-2">
                        <a class="btn btn-default btn-sm" href="{{ path('admin_achievement_edit',  {'id': achievement.id}) }}"><span class="glyphicon glyphicon-edit"></span>Editovat</a>
                        <a class="btn btn-default btn-sm" href="{{ path('admin_achievement_delete',  {'id': achievement.id}) }}"><span class="glyphicon glyphicon-remove"></span>Odstranit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
