{% extends '::base.html.twig' %}
{% block title %}Kontakt - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="kontakt section-top text-center bg-maps-grey">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">Kontakt</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="content-section-heading">
                <h2>Spojte se s námi.</h2>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <img src="{{ asset('img/ranc-na-pomezi-logo.png') }}" class="img-fluid" width="250" alt="Ranč Na Pomezí - logo">
                </div>
            </div>
            <div class="row contact-cards">
                <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                    <div class="card-body card-person">
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="person-image text-center">
                                    <img class="img-fluid rounded-circle" width="150" src="{{ asset('img/ludek.jpg') }}" alt="Luděk Pavera">
                                </div>
                            </div>
                            <div class="col-12 col-xl-8 mt-4 mt-xl-0 d-flex">
                                <div class="person-info text-center">
                                    <h3>Luděk Pavera</h3>
                                    <p class="mb-2">Provozovatel</p>
                                    <p>IČO: <strong>46080759</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contact-options-wrapper">
                <div class="contact-option col-xs-12 col-lg-4 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-kontakt pb-3">
                        <i class="far fa-envelope fa-5x"></i>
                    </div>
                    <a class="ikona-kontakt-heading" href="mailto:&#114;&#97;&#110;&#99;&#110;&#97;&#112;&#111;&#109;&#101;&#122;&#105;&#64;&#115;&#101;&#122;&#110;&#97;&#109;&#46;&#99;&#122;">
                        &#114;&#97;&#110;&#99;&#110;&#97;&#112;&#111;&#109;&#101;&#122;&#105;&#64;&#115;&#101;&#122;&#110;&#97;&#109;&#46;&#99;&#122;
                    </a>
                </div>
                <div class="contact-option col-xs-12 col-lg-4 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-kontakt pb-3">
                        <i class="fas fa-map-marker-alt fa-5x"></i>
                    </div>
                    <span class="ikona-kontakt-heading">Opava - Kylešovice</span>
                </div>
                <div class="contact-option col-xs-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-kontakt pb-3">
                        <i class="fas fa-phone fa-5x"></i>
                    </div>
                    <a class="ikona-kontakt-heading" href="tel:+420602726522">+420 602 726 522</a>
                </div>
            </div>
        </div>
    </section>
    <section class="kontakt-mapa text-center bg-maps-grey" id="kontakt-mapa">
        <div id="map">
        </div>
    </section>
{% endblock %}

{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp2fE4OnnTKZxqposJtAzaG_Bcr6F-M9o"></script>
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}

