{% extends '@Admin/base.html.twig' %}
{% form_theme form _self %}
{% block _gallery_photos_entry_widget  %}
    {% spaceless %}
    <div class="row" id="photo_{{ form.vars.id }}">
        <div class="form-group col-xs-6">
            {{ form_row(form.file) }}
        </div>
        <div class="form-group col-xs-6" style="margin-top: 20px;">
            {% if (form.vars.value)  %}
                <button onclick="deletePhoto(this)" id="button" data-delete="#photo_{{ form.vars.id }}" data-delete-file-name="#photoName_{{ form.vars.id }}" data-photo='{"photoId": "{{ form.vars.value.id }}"}' type="button" class="btn btn-danger">Smazat</button>
            {% else %}
                <button onclick="deletePhoto(this)" type="button" data-delete="#photo_{{ form.vars.id }}" class="btn btn-danger">Smazat</button>
            {% endif %}
        </div>
    </div>
    {% endspaceless %}
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <span>Galerie</span>
                <a data-toggle="tooltip" data-placement="right" title="Zpět na seznam" id="upIcon" href="{{ path('admin_gallery_index') }}">
                    <i class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form, { 'attr': {'class': ''} }) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_row(form.title) }}
                    {{ form_row(form.rajceLink) }}
                </div>
                <div class="form-group col-md-6">
                    <div id="substituteHolder" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
                        {% for key, photo in form.photos %}
                            <span id="photoName_{{ photo.vars.id }}">
                                {{ oldPhotos[key].fileName }}
                            </span>
                            {{ form_widget(photo) }}
                        {% endfor %}
                        <button id="addPhoto" class="btn btn-success btn-sm">Přidat fotku</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success btn-lg" type="submit">Uložit</button>
            </div>
            <span style="display: none;">
            {{ form_rest(form) }}
                </span>
            {{ form_end(form) }}
            <div style="margin-bottom: 20px"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $('#addPhoto').click(function (event) {
        event.preventDefault();
        var $collectionHolder = $(this).parent();
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        $collectionHolder.data('index', index + 1);
        index = $collectionHolder.data('index');
        var $newForm = prototype.replace(/___photo___/g, ($collectionHolder.children().length));
        $(this).before($newForm);
	    allowAddButton();
        return false;
    });
</script>
<script>
    function deletePhoto(element) {
        if (confirm('Opravdu to chcete smazat?')) {
            var $element = $(element);
            var photo = $element.data('photo');
            if (photo){
                $.post('{{path('admin_gallery_photo_delete' )}}',
                    {data: photo},
                    function(response){
                        if(response.code === 200 && response.success){
                            $($element.data('delete')).remove();
                            $($element.data('delete-file-name')).remove();
                        }
                        else{
                            alert('Fotku se nepodařilo odstranit');
                        }
                    }, "json");
            }
            else {
                $($element.data('delete')).remove();
            }
	        allowAddButton();
        }
    }

    function allowAddButton() {
	    var numberPhotos = $('div[id*="photo_gallery_photos"]').length;
	    if (numberPhotos >= 4) {
		    $('#addPhoto').hide();
	    } else {
		    $('#addPhoto').show();
        }
    }
</script>
{% endblock %}