{% extends '@Admin/base.html.twig' %}
{% block stylesheets %}
    <style>
        .info-header{
            padding-bottom: 30px;
            font-size: 18px;
        }
        .break-all {
            word-break: break-all;
        }
    </style>
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Seznam galerií</h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            <div class="row text-bold info-header">
                <div class="col-xs-2">
                    Název
                </div>
                <div class="col-xs-2">
                    Link na rajče
                </div>
                <div class="col-xs-6">
                    Fotky
                </div>
                <div class="col-xs-2">
                    Akce
                </div>
            </div>
            {% for gallery in galleries %}
                <div class="row">
                    <div class="form-group col-xs-2">
                        {{ gallery.title }}
                    </div>
                    <div class="form-group col-xs-2 break-all">
                        {{ gallery.rajceLink }}
                    </div>
                    <div class="form-group col-xs-6">
                        {% for photo in gallery.photos %}
                            <img src="{{ asset( 'uploads/gallery/' ~ photo.file) }}" height="42" width="42">
                        {% endfor %}
                    </div>
                    <div class="form-group col-xs-2">
                        <a class="btn btn-default btn-sm" href="{{ path('admin_gallery_edit',  {'id': gallery.id}) }}"><span class="glyphicon glyphicon-edit"></span>Editovat</a>
                        <a class="btn btn-default btn-sm" href="{{ path('admin_gallery_delete',  {'id': gallery.id}) }}"><span class="glyphicon glyphicon-remove"></span>Odstranit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
