{% extends '@Admin/base.html.twig' %}
{% block stylesheets %}
<style>
    .info-header{
        padding-bottom: 30px;
        font-size: 20px;
    }
</style>
{% endblock %}
{% block header_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Seznam novinek</h3>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            <div class="row text-bold info-header">
                <div class="col-md-1">
                    Kategorie
                </div>
                <div class="col-md-1">
                    Název
                </div>
                <div class="col-md-1">
                    Rok
                </div>
                <div class="col-md-3">
                    Link na FB
                </div>
                <div class="col-md-2">
                    Obrázek
                </div>
                <div class="col-md-2">
                    Popis
                </div>
                <div class="col-md-2">
                    Akce
                </div>
            </div>
            {% for new in news %}
                <div class="row">
                    <div class="col-md-1">
                        {{ new.category.name }}
                    </div>
                    <div class="col-md-1">
                        {{ new.title }}
                    </div>
                    <div class="col-md-1">
                        {{ new.date|date('d.m.Y') }}
                    </div>
                    <div class="col-md-3">
                        {{ new.fbLink }}
                    </div>
                    <div class="col-md-2">
                        <img src="{{ asset( 'uploads/news/' ~ new.image) }}" height="42" width="42">
                    </div>
                    <div class="col-md-2">
                        {{ new.description }}
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default btn-sm" href="{{ path('admin_news_edit',  {'id': new.id}) }}"><span class="glyphicon glyphicon-edit"></span>Editovat</a>
                        <a class="btn btn-default btn-sm" href="{{ path('admin_news_delete',  {'id': new.id}) }}"><span class="glyphicon glyphicon-remove"></span>Odstranit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
