{% extends '::base.html.twig' %}
{% block title %}Hala - {{ parent() }}{% endblock %}
{% block content %}
    <section class="hala section-top bg-grey">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">Hala</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="content-section-heading pb-4">
                <h2>Hala nabízí velké množství využití.</h2>
            </div>
            <div class="text-center">
                <p>Od roku 2017 máme v našem areálu nově vystavěnou halu.</p>
                <p>Hala o rozměrech 30 x 60 metrů má pískový povrch a je ideálním místem k uspořádání závodů, kurzů, apod.</p>
            </div>
        </div>
            <div id="hala-slider" class="carousel slide pt-4" data-ride="carousel" data-interval="5000" data-pause="false">
                <ol class="carousel-indicators">
                    <li data-target="#hala-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#hala-slider" data-slide-to="1"></li>
                    <li data-target="#hala-slider" data-slide-to="2"></li>
                    <li data-target="#hala-slider" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url('{{ asset('img/hala/hala-1.jpg') }}')">
                    </div>
                    <div class="carousel-item" style="background-image:url('{{ asset('img/hala/hala-2.jpg') }}')">
                    </div>
                    <div class="carousel-item" style="background-image: url('{{ asset('img/hala/hala-3.jpg') }}')">
                    </div>
                    <div class="carousel-item" style="background-image: url('{{ asset('img/hala/hala-4.jpg') }}')">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#hala-slider" role="button" data-slide="prev">
                    <span class="left arrow"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hala-slider" role="button" data-slide="next">
                    <span class="right arrow"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </section>
{% endblock %}
{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
{% endblock %}

