{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <a href="http://www.rancnapomezi.cz">
        <img class="mb-4 upt-logo" src="{{ asset('img/ranc-na-pomezi-login-page.png') }}" alt="" width="180">
    </a>
    <h1 class="mb-3 upt-title">Administrace</h1>

    <h2 class="mb-3">Přihlaste se, prosím</h2>

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />

    <div class="checkbox mb-3">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input class="btn btn-lg btn-login btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <div class="row mt-4">
        <div class="col-12">
            <a class="link-back" href="http://www.rancnapomezi.cz">Zpět na web</a>
        </div>
    </div>
</form>