{% extends '::base.html.twig' %}
{% block title %}O nás - {{ parent() }}{% endblock %}
{% block content %}
    <section class="o-nas section-top bg-img">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">O nás</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="content-section-heading">
                <h2>Všichni máme svou historii a naše stáj není výjimkou.</h2>
            </div>
            <div class="row pt-5 pb-4">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-nase-zacatky.jpg') }}" alt="Naše začátky">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Naše začátky</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Areál Ranč Na Pomezí byl vybudován v roce 2009 na okraji města Opavy - městská část Kylešovice. Tato rodinná stáj je ideálním místem k aktivnímu odpočinku pro děti i dospělé. Postupem času se ranč stal ideálním místem k výuce jezdců i koní westernového stylu ježdění, hipoterapii a chovu koní plemene American Quarter Horse.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-2009.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2009</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Roku 2009 si manželé Luděk a Pavlína Paverovi pořídili své první koně Sam Athena Peponitas a SK Spirit of Gunner. S těmito koňmi objížděli westernové hobby závody v nedalekém okolí a poznávali krásy westernového ježdění.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-2010.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2010</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Krása westernového ježdění se manželům natolik zalíbila, že si v roce 2010 přivezli z Rakouska svého prvního závodního koně Jacs Blonde Bead. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-2011.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2011</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mladá klisna Jacs Blonde Bead velmi brzy vyhrála prestižní šampionát WRC. Čím se Luďkovy závodní ambice zvyšovaly, tak tím i narůstal počet koní ve stáji.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-2012.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2012</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Na jaře roku 2012 se nám narodila první hříbata a o dva roky později se stala naše stáj domovem hřebce SK Whizchic. Z hobby závodů jsme postupně přesedlali na závody oficiální a získali řadu ocenění.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/o-nas/o-nas-2017.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2017</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Díky výstavbě nové jezdecké haly, která patří mezi jedinečné v okolí jsme si mohli dovolit v roce 2017 uspořádat naše první hobby závody.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
{% endblock %}

