{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Galerie - {{ parent() }}{% endblock %}
{% block content %}
    <section class="galerie section-top bg-grey">
        <div class="container">
            <div class="section-heading">
                <h1 class="section-heading__text">Galerie</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="content-section-heading">
                <h2>Připomeňte si již uplynulé události.</h2>
            </div>
            {% for gallery in galleries %}
            <div class="gallery">
                <h3 class="gallery-title-heading pt-2 pb-4 text-center text-md-left">{{ gallery.title }}</h3>
                <div class="row text-center text-lg-left">
                    {% for photo in gallery.photos %}
                    <div class="col-sm-6 col-lg-3">
                        <div class="popup-gallery">
                            <a href="{{ asset('uploads/gallery/' ~ photo.file) }}" class="d-block mb-4 h-100">
                                <img class="img-fluid" src="{{ asset('uploads/gallery/' ~ photo.file) }}" alt="{{ photo.fileName }}">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 text-center text-md-left">
                        <a href="{{ gallery.rajceLink }}" target="_blank" class="rajce-link"><img class="rajce-net-img" src="{{ asset('img/rajce-net-logo.png') }}" width="120"><span class="rajce-title"><i class="fas fa-angle-double-left"></i> Celé album</span></a>
                    </div>
                </div>
                {% if not loop.last %}
                <div class="divider mb-0">
                    <hr class="divider-inner">
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}
