{% extends '::base.html.twig' %}
{% block title %}{{ horse.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="kun-detail-heading" class="kun-detail bg-grey">
        <div class="container">
            <h1>{{ horse.name }}</h1>
            <div class="divider">
                <hr class="divider-inner">
            </div>
            <div>
                {% if horse.horseCategory.name == 'Ostatní koně' %}
                    {% if not horse.sports and not horse.horseSale %}
                    <div class="badge badge-horse-category">{{ horse.horseCategory.name }}</div>
                    {% endif %}
                {% else %}
                    <div class="badge badge-horse-category">{{ horse.horseCategory.name }}</div>
                {% endif %}
                {% if horse.sports %}
                    <div class="badge badge-horse-category">Sportovní koně</div>
                {% endif %}
                {% if horse.horseSale %}
                    <div class="badge badge-horse-category">Na prodej</div>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="kun-detail-content" class="pt-5 bg-img">
        <div class="container">
            <div class="row kun">
                <div class="kun-image col-lg-4 pb-4 text-center">
                    <img class="img-fluid rounded-circle" width="200" src="{{ asset('uploads/horse/' ~ horse.mainPhoto) }}" alt="{{ horse.name }} - profilový obrázek">
                </div>
                <div class="col-lg-8">
                    <ul class="kun-bio">
                        <li class="kun-bio-row">Pohlaví: <span>{{ horse.sexCategory.name }}</span></li>
                        <li class="kun-bio-row">Datum narození: <span>{{ horse.birthDate|date('j.n.Y') }}</span></li>
                        {% if horse.birthPlace %}
                        <li class="kun-bio-row">Místo narození: <span>{{ horse.birthDate|date('j.n.Y') }}</span></li>
                        {% endif %}
                        {% if horse.color %}
                        <li class="kun-bio-row">Barva: <span>{{ horse.color }}</span></li>
                        {% endif %}
                        <li class="kun-bio-row">Otec: <span>{{ horse.father }}</span></li>
                        <li class="kun-bio-row">Matka: <span>{{ horse.mother }}</span></li>
                        {% if horse.owner %}
                        <li class="kun-bio-row">Majitel: <span>{{ horse.owner }}</span></li>
                        {% endif %}
                        {% if horse.harnessingTax %}
                        <li class="kun-bio-row">Připouštěcí poplatek: <span>{{ horse.harnessingTax }} Kč</span></li>
                        {% endif %}
                        {% if horse.children %}
                        <li class="kun-bio-row">Hříbata: <span>{{ horse.children }}</span></li>
                        {% endif %}
                        {% if horse.harnessings|length > 0 %}
                        <li class="kun-bio-row">Možnosti připouštění:
                            <span>
                                {% for harnessing in horse.harnessings %}
                                    {{ harnessing.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </li>
                        {% endif %}
                        {% if horse.comment %}
                        <li class="kun-bio-row">Poznámka: <span>{{ horse.comment }}</span></li>
                        {% endif %}
                    </ul>
                    {% if horse.achievementsByYears %}
                    <div class="divider">
                        <hr class="divider-inner">
                    </div>
                    <div class="kun-uspechy row">
                        <div class="col-12">
                            <div class="box">
                                <div class="tag-label">Úspěchy</div>
                                <div class="box-content">
                                    {% for year, achievements in horse.achievementsByYears %}
                                    <h2 class="box-content-year">{{ year }}</h2>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <ul class="box-description">
                                        {% for achievement in achievements %}
                                        <li class="{% if achievement.achievementCategory.name == '1. místo' or achievement.achievementCategory.name == 'Speciální' %}trophy{% else %}flag{% endif %}"> {% if achievement.achievementCategory.name != 'Speciální' %}{{ achievement.achievementCategory.name }}, {% endif %}{{ achievement.race }}{% if achievement.race is not empty %}, {{ achievement.category }}{% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="gallery row text-center pt-5">
                {% for photo in horse.horsePhotos %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="popup-gallery">
                        <div role="button" href="{{ asset('uploads/horse/' ~ photo.file) }}" class="img-square-thumbnail">
                            <img class="img-square{% if photo.isPortraitRatio %} portrait{% endif %}"  src="{{ asset('uploads/horse/' ~ photo.file) }}" alt="{{ horse.name }} - {{ loop.index }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.gallery').each(function () {
                $(this).find('.popup-gallery').magnificPopup({
                    delegate: '.img-square-thumbnail',
                    type: 'image',
                    tClose: 'Zavřít (Esc)', // Alt text on close button
                    tLoading: 'Načítání obrázku #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        tPrev: 'Předchozí (Šipka vlevo)', // Alt text on left arrow
                        tNext: 'Další (Šipka vpravo)', // Alt text on right arrow
                        tCounter: '%curr%/%total%', // Markup for "1 of 7" counter
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image

                    },
                    image: {
                        tError: '<a href="%url%">Obrázek #%curr%</a> se nepodařilo načíst.',
                        cursor: null,
                        titleSrc: function (item) {
                            return item.el.attr('title');
                        },
                        verticalFit: true
                    }
                });
            })
        });
    </script>
{% endblock %}