{% extends '::base.html.twig' %}
{% block title %}Koně - {{ parent() }}{% endblock %}

{% block content %}
<section class="section-top kone bg-img" id="kone">
    <div class="container">
        <div class="section-heading text-center">
            <h1 class="section-heading__text">Koně</h1>
            <div class="divider">
                <hr class="divider-inner">
            </div>
        </div>
        <div id="accordion" class="accordion-box-wrapper mx-auto">
            {% for category in categories %}
            <div class="card accordion-box" role="button" id="{{ category.slug }}-heading">
                <div class="accordion-box-title" data-toggle="collapse" data-target="#{{ category.slug }}-content" aria-expanded="false" aria-controls="{{ category.slug }}-content">
                    <h2>{{ category.title }}</h2>
                    <div class="badge badge-horses-count">
                        {{ category.horses|length }}
                        {% if category.horses|length == 1 %}kůň
                        {% elseif category.horses|length > 1 and category.horses|length < 5 %}koně
                        {% else %}koní
                        {% endif %}
                    </div>
                    <div class="divider">
                        <hr class="divider-inner">
                    </div>
                </div>
                <div id="{{ category.slug }}-content" class="collapse" aria-labelledby="{{ category.slug }}-heading" data-parent="#accordion">
                    {% for horse in category.horses %}
                    <div class="card-body card-horse">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <div class="horse-image text-center">
                                    <a href="{{ path('kone_detail', {'slug': horse.slug }) }}">
                                        <img class="img-fluid rounded-circle" width="150" src="{{ asset('uploads/horse/' ~ horse.mainPhoto) }}" alt="{{ horse.name }}">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-9 mt-4 mt-sm-0 d-flex">
                                <div class="horse-info text-center">
                                    <h3>{{ horse.name }}</h3>
                                    <div class="text-center text-sm-left">
                                        <a href="{{ path('kone_detail', {'slug': horse.slug }) }}" class="btn btn-more">Více <i class="fas fa-arrow-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}