{% extends '::base.html.twig' %}
{% block title %}{{ news.title }} - {{ parent() }}{% endblock %}
{% block content %}
    <section id="aktualita-detail-heading" class="aktualita bg-grey">
        <div class="container">
            <h1>{{ news.title }}</h1>
            <div class="divider">
                <hr class="divider-inner">
            </div>
            <div>
                <div class="badge badge-horse-category">{{ news.category.name }}</div>
            </div>
        </div>
    </section>
    <section id="aktualita-detail-content" class="pt-4">
        <div class="container">
            <div class="aktualita-content row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="aktualita-metadata">
                        <div class="aktualita-info date pr-2">{{ news.date|date('d.m.Y') }}</div>
                        <div class="aktualita-info time pr-2">{{ news.date|date('H:i') }}</div>
                        <div class="aktualita-info location">{{ news.place }}</div>
                    </div>
                    <p class="aktualita-description">{{ news.description }}</p>
                    {% if news.fbLink %}
                    <div class="fb-event-wrapper">
                        <p class="heading-above-btn dark text-left">Potvrďte svou <span class="highlight">účast</span>:</p>
                        <a href="{{ news.fbLink }}" target="_blank" class="btn btn-xl btn-with-icon btn-fb bg-fb"><i class="fab fa-facebook-f fa-lg btn-icon"></i><span class="btn-label">Přejít na událost</span></a>
                    </div>
                    {% endif %}
                </div>
                {% if news.image is not null %}
                <div class="col-md-6 order-1 order-md-2">
                    <div class="aktualita-image">
                        <img src="{{ asset('uploads/news/' ~ news.image) }}" class="img-fluid" width="600">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}