{% extends '::base.html.twig' %}
{% block title %}Aktuality - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/pagination.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section id="aktuality" class="bg-img section-top">
        <div class="container">
            <div class="section-heading text-center">
                <h1 class="section-heading__text">Aktuality</h1>
                <div class="divider">
                    <hr class="divider-inner">
                </div>
            </div>
            <div class="aktuality-wrapper mx-md-auto mt-4">
                <div class="row" id="data-container">
                </div>
                <div class="row" id="pagination-container">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('js/pagination.min.js') }}"></script>
<script>
    var news = [];
    {% for key, new in news %}
    news[{{ key }}] = {
        category: "{{ new.category.name }}",
        title: "{{ new.title }}",
        date: "{{ new.date|date('d.m.Y') }}",
        time: "{{ new.date|date('H:i') }}",
        place: "{{ new.place }}",
        description: "{{ new.description|escape('js') }}",
        path: "{{ path('aktuality_detail', {'slug': new.slug }) }}"
    };
    {% endfor %}
    var contributions = [];
    for (var i = 0; i < news.length; i++) {
            contributions[i] =
                    '<div class="col-12">'+
                            '<div class="aktualita">'+
                            '<div class="tag-label">'+news[i].category+'</div>'+
                            '<div>'+
                            '<div class="aktualita-content">'+
                            '<h3 class="aktualita-heading">'+news[i].title+'</h3>'+
                            '<div class="divider">'+
                            '<hr class="divider-inner">'+
                            '</div>'+
                            '<div class="aktualita-metadata mt-2 mb-2">'+
                            '<div class="aktualita-info date pr-2">' +news[i].date+ '</div>'+
                            '<div class="aktualita-info time pr-2">' +news[i].time+ '</div>'+
                            '<div class="aktualita-info location">' +news[i].place+ '</div>'+
                            '</div>'+
                            '<p class="aktualita-description">'+news[i].description+'</p>'+
                            '</div>'+
                            '<div class="aktuality-buttons text-right">'+
                            '<a href="'+news[i].path+'" class="btn btn-more">Více <i class="fas fa-arrow-right fa-lg"></i></a>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>'
    }
    $('#pagination-container').pagination({
        className: 'paginationjs-big',
        dataSource: contributions,
        pageSize: 10,
        autoHidePrevious: true,
        autoHideNext: true,
        callback: function(data, pagination) {
            var html = data;
            if (data.length > 0) {
                $('#data-container').html(html);
            }
            else{
                $('#data-container').html('<p class="no-accusations">Nebyla nalezena žádná aktualita</p>');
                $('#pagination-container').hide();
            }

        }
    })
</script>
{% endblock %}