{% extends '::base.html.twig' %}
{% block title %}Trenéři - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="section-top treneri bg-img" id="treneri">
        <div class="container text-center pb-4">
                <div class="section-heading">
                    <h1 class="section-heading__text">Trenéři</h1>
                    <div class="divider">
                        <hr class="divider-inner">
                    </div>
                </div>
            <div class="content-section-heading">
                <h2>Seznamte se s&nbsp;našimi trenéry.</h2>
            </div>
            <div class="row qualities-wrapper">
                <div class="col-xs-12 col-lg-3 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-treneri pb-3">
                    <i class="fas fa-check-circle fa-5x"></i>
                    </div>
                    <span class="ikona-treneri-heading">Vysoká kvalita</span>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-treneri pb-3">
                    <i class="fas fa-users fa-5x"></i>
                    </div>
                    <span class="ikona-treneri-heading">Individuální přístup</span>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-treneri pb-3">
                    <i class="fas fa-handshake fa-5x"></i>
                    </div>
                    <span class="ikona-treneri-heading">Vzájemná důvěra</span>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-6 mb-3 mb-md-0 pt-3">
                    <div  class="ikona-treneri pb-3">
                    <i class="fas fa-smile fa-5x"></i>
                     </div>
                    <span class="ikona-treneri-heading">Přátelské prostředí</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row trener">
                <div class="trener-image col-lg-4 pb-4 text-center">
                    <img class="img-fluid rounded-circle" width="200" src="{{ asset('img/treneri/marketa.jpg') }}" alt="Markéta">
                </div>
                <div class="col-lg-8">
                    <div class="trener-bio">
                        <h3 class="text-center text-lg-left">Mgr. Markéta Šteyerová</h3>
                        <p class="mt-3">V roce 2017 si Markéta podala ruku s majitelem ranče Luďkem Paverou a stala se tak oficiálním členem týmu. Markéta má vystudovanou VŠ pedagogickou, takže je učení jejím posláním. V současné době si dodělává kurz cvičitele jezdectví.
                            Již od 12 let se věnovala anglickému ježdění, po základní škole přesedlala na ježdění westernové a u toho také zůstala. V současné době je držitelkou mnoha významných ocenění v disciplíně reining.
                        </p>
                    </div>
                    <div class="divider">
                        <hr class="divider-inner">
                    </div>
                    <div class="trener-uspechy row">
                        <div class="col-12">
                            <div class="box">
                                <div class="tag-label">Úspěchy</div>
                                <div class="box-content">
                                    <h3 class="box-content-year">2017</h3>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <ul class="box-description">
                                        <li class="trophy"> 1. místo MČR WRC v disciplíně reining amatér (<a href="{{ path('kone_detail', {'slug': 'dp-commandanut'}) }}">DP Commandanut</a>)
                                        <li class="flag"> 2. místo MČR ČJF v disciplíně reining amatér (<a href="{{ path('kone_detail', {'slug': 'smart-shine-witch'}) }}">Smart Shine Witch</a>)
                                        <li class="flag"> 4. místo MČR ČJF v disciplíně reining junior (<a href="{{ path('kone_detail', {'slug': 'smart-shine-witch'}) }}">Smart Shine Witch</a>)
                                        <li class="trophy"> 1. místo MČR ČJF v družstvu v disciplíně reining (<a href="{{ path('kone_detail', {'slug': 'smart-shine-witch'}) }}">Smart Shine Witch</a>)
                                        <li class="trophy"> Vítěz oblastního mistrovství severomoravské oblasti v disciplíně reining amatér
                                        <li class="trophy"> Champion ČJF v disciplíně reining amatér
                                        <li class="flag"> Bronzový výkonnostní odznak ČJF
                                    </ul>
                                </div>
                                <div class="box-content">
                                    <h3 class="box-content-year">2016</h3>
                                    <div class="divider">
                                        <hr class="divider-inner">
                                    </div>
                                    <ul>
                                        <li class="flag"> 2. místo MČR ČJF v disciplíně reining amatér (<a href="{{ path('kone_detail', {'slug': 'dp-commandanut'}) }}">DP Commandanut</a>)
                                        <li class="flag"> 2. místo MČR WRC v disciplíně reining amatér (<a href="{{ path('kone_detail', {'slug': 'smart-shine-witch'}) }}">Smart Shine Witch</a>)
                                        <li class="trophy"> Zlatý výkonnostní odznak ČJF
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery row text-center pt-5">
                <div class="col-sm-4">
                    <div class="popup-gallery">
                        <a href="{{ asset('img/treneri/marketa-1.jpg') }}" class="d-block mb-4 h-100">
                            <img class="img-fluid" src="{{ asset('img/treneri/marketa-1.jpg') }}" alt="Markéta">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="popup-gallery">
                        <a href="{{ asset('img/treneri/marketa-2.jpg') }}" class="d-block mb-4 h-100">
                            <img class="img-fluid" src="{{ asset('img/treneri/marketa-2.jpg') }}" alt="Markéta">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="popup-gallery">
                        <a href="{{ asset('img/treneri/marketa-3.jpg') }}" class="d-block mb-4 h-100">
                            <img class="img-fluid" src="{{ asset('img/treneri/marketa-3.jpg') }}" alt="Markéta">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascriptsCustom %}
    {{ parent() }}
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}

